.CreateEmployee {
    width: 100%;
    /*min-height: 50%;*/
    padding: 24px 26px;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 48px auto 72px;
    grid-template-areas:
        "formHeader formHeader"
        "formBody formBody"
        "formFooter formFooter"
        "formResult formResult";

    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    background-color: white;
}

.formHeading {
    grid-area: formHeader;
    padding-bottom: 28px;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
}

.formBody {
    grid-area: formBody;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 84px;
    grid-column-gap: 24px;
}

.formFooter {
    grid-area: formFooter;
    display: grid;
    grid-template-columns: 224px auto 152px 152px;
    grid-column-gap: 24px;
    align-content: end;
    grid-template-areas: "formButtonBack . formButtonStorno formButtonSave";
}

.formResult {
    display: flex;
    grid-area: formResult;
    padding-top: 28px;
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: var(--brand-accent-primary);
}

.formResultIcon {
    padding-right: 20px;
}

.formResultText {
    padding-left: 20px;
}

.formButton {
    grid-area: formButton;
}

.formButtonBack {
    grid-area: formButtonBack;
}
.formButtonStorno {
    grid-area: formButtonStorno;
}
.formButtonSave {
    grid-area: formButtonSave;
}
