.Employees {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50% calc(50% - 20px);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-areas:
        "table table"
        "graph1 graph2";
}

.SpinnerWrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/************************* Dashboard card *************************/
.dashboardCard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 48px auto;
    padding: 24px 12px 24px 20px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    background-color: white;
}

.dashboardCardHeader {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}

.dashboardCardBody {
    position: relative;
}


/************************* Individual cards *************************/

.dashboardCardTable {
    grid-area: table;
}
.dashboardTableBody {}
.dashboardCardTableHeader {
    padding-left: 6px;

}
.dashboardTableBodyScrollContainer {}
.dashboardTableHeaderItem {}
.dashboardGraph1 {
    grid-area: graph1;
}
.dashboardGraph2 {
    grid-area: graph2;
}
.dashboardGraph1Body {}
.dashboardGraph2Body {
    padding: 40px 24px 12px 24px;
}


/*** Not scross-broser compatible -> should be used throuh javascript (react-custom-scrollbars) - I am lazy here, it is just a demo ***/
/*.dashboardCardBody::-webkit-scrollbar {
    width: 8px;
}
.dashboardCardBody::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 4px;
}
.dashboardCardBody::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}
*/
