:root {
    --ui-controls-primary: #363c52;
    --ui-controls-secondary: #50556b;

    --brand-primary: #097DBC;
    --brand-primary-dark: #004BAF;
    --brand-primary-light-1: #049FD9;
    --brand-primary-light-2: #C4D6ED;

    --brand-secondary: #58585B;
    --brand-secondary-light-1: #9E9EA2;
    --brand-secondary-light-2: #C6C7CA;
    --brand-secondary-light-3: #E8EBF1;

    --brand-accent-primary: #008516;
    --brand-accent-primary-light-1: #00AD0B;
    --brand-accent-primary-light-2: #6CC04A;
    --brand-accent-primary-light-3: #ABC233;

    --brand-accent-secondary: #8B1001;
    --brand-accent-secondary-light-1: #FF7300;
    --brand-accent-secondary-light-2: #FFA000;

    --background-primary: #f2f3f8;
}

::selection {
  background-color: var(--brand-primary-light-1);
  color: white;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #333;
}

main {
    padding: 24px 20px;
    background-color: var(--background-primary);
}

.App {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 52px calc(100% - 52px);
}
