.AppBar {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    z-index: 9999;

    display: flex;
    height: 52px;
    align-items: center;

    color: var(--brand-primary-light-1);
    background-color: white;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.AppBarItem {
    padding: 0px 16px;
}

.AppBarIcon {
    font-size: 24px;
    flex-basis: 64px;
}

/**************************   Menu button   ***************************/
.AppBarMenu {}


/*****************************   Logo   ******************************/
.AppBarLogo {
    padding: 0px 24px;
    display: flex;
}
.AppBarLogo img {
    max-height: 52px;
    display: flex;
}


/***********************   Route name / Heading   *********************/
.AppBarHeading {
    flex: 1;
    font-size: 18px;
    font-weight: 400;
}


/*****************************   User   ******************************/
.AppBarUser {
    font-size: 17px;
}
